.header-wrap{
  width: 100%;
  background-color: #37306B;
  font-family: 'Noto Sans KR', sans-serif;
}
.header-wrap .logo{
  height: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.header-wrap .logo img{
  height: 70%;
  margin-right: 10px;
}
.header-wrap .logo h1{
  line-height: 48px;
}
.header-wrap ul{
  display: flex;
  justify-content: center;
  height: 100%;
}
.header-wrap ul li{
  height: 100%;
  width: 100px;
  text-align: center;
}
.header-wrap ul li a{
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 38px;
}
.header-wrap ul li a:hover{
  font-weight: bold;
  text-decoration: underline;
}