.header-wrap{
  width: 100%;
  height: 40px;
  background-color: #37306B;
  font-family: 'Noto Sans KR', sans-serif;
}
.header-wrap ul{
  display: flex;
  justify-content: center;
  height: 100%;
}
.header-wrap ul li{
  height: 100%;
  width: 100px;
  text-align: center;
}
.header-wrap ul li a{
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 38px;
  transition: background-color 0.3s;
}
.header-wrap ul li a:hover{
  background-color: #2e285e;
}